# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.This task will be done in following steps:¶

first get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note- All of the above steps have to be done in code. No step is to be done manually

In [344]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [345]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [346]:
driver.get('https://www.naukri.com')

In [347]:
search=driver.find_element_by_id('qsb-keyword-sugg')
location=driver.find_element_by_id('qsb-location-sugg')
search.send_keys('Data Analyst')
location.send_keys('Bangalore')

In [348]:
button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
button.click()

In [349]:
job_title=[]
company_name=[]
location=[]
experience=[]

In [350]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title:
    job_title.append(i.text)

In [351]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in company:
    company_name.append(j.text)

In [352]:
location_all=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for k in location_all:
    location.append(k.text)

In [353]:
experience_all=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
for l in experience_all:
    experience.append(l.text)

In [354]:
job=pd.DataFrame({})
job['Designation']=job_title[0:10]
job['Company']=company_name[0:10]
job['Location']=location[0:10]
job['Experience']=experience[0:10]

In [355]:
job

,Designation,Company,Location,Experience
0,Data Analyst,Super India Tech Mark,Bangalore/Bengaluru(Devalapur),0-2 Yrs
1,Data Analyst,tech mahindra ltd,Bangalore/Bengaluru,4-8 Yrs
2,Data Analyst,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru,1-2 Yrs
3,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,2-7 Yrs
4,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,3-6 Yrs
5,Data Analyst,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru,4-8 Yrs
6,Hiring For Data Analyst,Concentrix Daksh Services India Private Limited.,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
7,Data Analyst,WEIWO Communication Pvt. Ltd.,Bangalore/Bengaluru(Ulsoor),5-8 Yrs
8,Senior Data Analyst,Cerner,Bangalore/Bengaluru,3-5 Yrs
9,Senior Data Analyst,Cerner Corporation,Bangalore/Bengaluru,4-9 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.This task will be done in following steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note- 1. All of the above steps have to be done in code. No step is to be done manually. WEB SCR

In [356]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [357]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [358]:
driver.get('https://www.naukri.com')

In [359]:
search_designation=driver.find_element_by_id('qsb-keyword-sugg')
search_location=driver.find_element_by_id('qsb-location-sugg')
search_designation.send_keys('Data Scientist')
search_location.send_keys('Bangalore')

In [360]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [367]:
job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [368]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title:
    job_title.append(i.text)
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for j in location:
    job_location.append(j.text)
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for k in company:
    company_name.append(k.text)

In [369]:
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace('\n','')
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        job_description.append(description[0])
    except NoSuchElementException :
        job_description.append("---")

In [370]:
job=pd.DataFrame({})
job['Title']=job_title[0:10]
job['Company']=company_name[0:10]
job['Location']=job_location[0:10]
job['Description']=job_description[0:10]

In [371]:
job[0:10]

,Title,Company,Location,Description
0,Data Scientist,CronJ IT Technologies Private Limited,Bangalore/Bengaluru,Responsibilities and Duties\nCreate innovative...
1,Opportunity For Data Scientist Internship - Be...,Corner Stone Solutions,Bangalore/Bengaluru,Location - Bangalore / Bengaluru\nDuration- 6 ...
2,Data Scientist/ Analyst,Becton Dickinson India Pvt. Ltd,Bangalore/Bengaluru,Roles and Responsibilities\nob Description Sum...
3,Data Scientist - Machine Learning,AugmatrixGo,Bangalore/Bengaluru,Roles and Responsibilities\n\n\n- Selecting fe...
4,Data Scientist || Data Analyst || Data science,Inspiration Manpower Consultancy Pvt. Ltd.,"Navi Mumbai, Bangalore/Bengaluru",Job description\nJob Summary and Key Responsib...
5,DBCG IND - GAMMA Senior Data Scientist,Boston Consulting Group,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",What Youll Do\n\nWe re looking for a passi...
6,Data Scientist/Senior Data Scientist,GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",About Ganit Inc\n\nFounded by senior industry ...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Roles and Responsibilities\n\nMust have strong...
8,Global Medical Data Scientist,GlaxoSmithKline Pharmaceuticals Limited,Bangalore/Bengaluru,---
9,Associate Data Scientist - CRM & Loyalty,Shell India Markets Private Limited,Bangalore/Bengaluru,The Role\nGeneral Position Definition\nThis ro...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name,experience_required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs. The task will be done as shown in the below steps:

first get the webpage https://www.naukri.com/
Enter “Data Scientist” in “Skill,Designations,Companies” field .
Then click the search button.
Then apply the location filter and salary filter by checking the respective boxes
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note- All of the above steps have to be done in code. No step is to be done manually

In [88]:
import pandas as pd
import selenium
from selenium import webdriver

In [89]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [90]:
driver.get('https://www.naukri.com/')

In [91]:
search_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_designation.send_keys('Data Scientist')

In [92]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [93]:
job_title=[]
Company_name=[]
job_location=[]
Experienced_required=[]

In [95]:
location=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
location.click()

In [97]:
salary=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
salary.click()

In [99]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in title[:10]:
    job_title.append(i.text)
job_title

['Data Scientist - IBM Garage',
 'Data Scientist/Data Analyst - Python/Machine Learning',
 'Females Required- Data Scientist- Noida',
 'Data Scientist',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI',
 'Data Scientist - Python & Machine Learning',
 'Required- Data Scientist (NLP)-Axis Bank - 6 months contract',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI']

In [103]:
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for j in company[:10]:
    Company_name.append(j.text)
Company_name

['IBM India Pvt. Limited',
 'Change leaders',
 'Randstad',
 'Amity University',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'Axis Bank Limited',
 'FUTURES AND CAREERS']

In [112]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for k in location[:10]:
    job_location.append(k.text)
job_location

['Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Mumbai, Ghaziabad',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR']

In [115]:
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
for l in experience[:10]:
    Experienced_required.append(l.text)
Experienced_required

['5-8 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '6-8 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '4-9 Yrs',
 '3-8 Yrs']

In [116]:
job=pd.DataFrame({'Title':job_title,'Company':Company_name,'Location':job_location,'Experience':Experienced_required})
job

,Title,Company,Location,Experience
0,Data Scientist - IBM Garage,IBM India Pvt. Limited,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-8 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,Change leaders,"Mumbai, Ghaziabad",5-10 Yrs
2,Females Required- Data Scientist- Noida,Randstad,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs
3,Data Scientist,Amity University,"Ghaziabad, Faridabad, Delhi / NCR",6-8 Yrs
4,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",2-7 Yrs
5,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",2-7 Yrs
6,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",3-8 Yrs
7,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",2-7 Yrs
8,Required- Data Scientist (NLP)-Axis Bank - 6 m...,Axis Bank Limited,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",4-9 Yrs
9,Data Scientist - Python / Machine Learning / T...,FUTURES AND CAREERS,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",3-8 Yrs

In [572]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [578]:
driver=webdriver.Chrome('chromedriver.exe')

In [579]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [582]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.keyword']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='sc.location']"))).send_keys("Noida")

In [ ]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATHzz,"//button[@data-test='search-bar-submit']"))).click()
search_button=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_button.click()

In [586]:
company_ratings=[]
company_name=[]
days_ago=[]

In [587]:
companies=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']/span[1]")
for i in companies:
    if i.text is None :
        company_name.append("--") 
    else:
        company_name.append(i.text)
company_name[0:4]

['Telstra', 'NetApp', 'Intuit', 'Western Digital']

In [588]:
ratings=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
for i in ratings:
    if i.text is None :
        company_ratings.append("--") 
    else:
        company_ratings.append(i.text)
company_ratings[0:4]

['3.9', '4.3', '4.4', '3.7']

In [589]:
days=driver.find_elements_by_xpath("//div[@data-test='job-age']")
for i in days:
    if i.text is None :
        days_ago.append("--") 
    else:
        days_ago.append(i.text[0])
days_ago[0:2]

['1', '4']

In [590]:
df=pd.DataFrame({"company_name":company_name[0:10],"company_ratings":company_ratings[0:10],"days_ago":days_ago[0:10]})
df[0:10]

         company_name company_ratings days_ago
0             Telstra             3.9        1
1              NetApp             4.3        4
2              Intuit             4.4        1
3     Western Digital             3.7        1
4                                 4.1        1
5  Ericsson-Worldwide             4.1        3
6             Telstra             3.9        1
7              Wabtec             3.4        4
8         Rolls-Royce             3.3        5
9              Unnati             4.9        5

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps:

first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
Enter “Data Scientist” in Job title field and “Noida” in location field.
Click the search button.
After that you will land on the below page You have to scrape whole data from this webpage
Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company. 6.Store the data in a dataframe. Note that all of the above steps have to be done by coding only and not manually

In [660]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [661]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [662]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [663]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='KeywordSearch']"))).send_keys("Data Scientist")
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH, "//input[@id='LocationSearch']"))).send_keys("Noida")

In [664]:
WebDriverWait(driver, 20).until(EC.element_to_be_clickable((By.XPATH,"//button[@data-test='search-bar-submit']"))).click()

In [653]:
min_salaries=[]
max_salaries=[]
average_salaries=[]
company_name=[]

In [670]:
min_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")
for i in min_salary:
    if i.text is None :
        min_salaries.append("--") 
    else:
        min_salaries.append(i.text)

In [671]:
max_salary=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")
for i in max_salary:
    if i.text is None :
        max_salaries.append("--") 
    else:
        max_salaries.append(i.text)

In [676]:
average_salary=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for i in average_salary:
    if i.text is None :
        average_salaries.append("--") 
    else:
        average_salaries.append(i.text)

In [678]:
company=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
for i in company:
    if i.text is None :
        company_name.append("--")      
    else:
        company_name.append(i.text)

In [680]:
df=pd.DataFrame({"Company_name":company_name[0:10],"Average_salary":average_salaries[0:10],"Minimum_salary":min_salaries[0:10],"Maximum_salary":max_salaries[0:10]})
df[0:10]

                Company_name Average_salary Minimum_salary Maximum_salary
0  Tata Consultancy Services     ₹ 5,97,967          ₹333K        ₹1,080K
1                  Accenture    ₹ 11,12,243          ₹560K        ₹2,147K
2                  Delhivery    ₹ 12,12,741          ₹436K       ₹11,274K
3                        IBM     ₹ 7,37,972          ₹569K        ₹2,648K
4         Ericsson-Worldwide     ₹ 7,15,984          ₹350K        ₹1,565K
5         UnitedHealth Group    ₹ 13,41,900        ₹1,037K        ₹1,500K
6         Valiance Solutions     ₹ 7,90,812          ₹487K        ₹1,421K
7                 Innovaccer    ₹ 11,81,047          ₹602K        ₹1,644K
8              ZS Associates     ₹ 9,89,924          ₹196K        ₹1,755K
9                EXL Service    ₹ 11,73,127          ₹558K        ₹1,500K

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [224]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [225]:
driver=webdriver.Chrome('chromedriver.exe')

In [226]:
driver.get('https://www.flipkart.com')

In [227]:
search=driver.find_element_by_class_name("_3704LK")
search.send_keys('Sunglasses')

In [228]:
button=driver.find_element_by_class_name("_34RNph")
button.click()

In [238]:
brand=[]
product_description=[]
price=[]
discount=[]

In [245]:
start=0
end=3
for page in range(start,end):
    bd=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in bd[:100]:
        brand.append(i.text)
    pro_des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in pro_des[:100]:
        product_description.append(j.text)
    prices=driver.find_elements_by_class_name("_30jeq3")
    for k in prices[:100]:
        price.append(k.text) 
    discounts=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for l in discounts[:100]:
        discount.append(l.text)
    
    nxt_button=driver.find_elements_by_xpath("//a[@class='ge-49M']")
    driver.get(nxt_button[page].get_attribute('href'))

In [257]:
sunglass=pd.DataFrame({})
sunglass['Brand']=brand[:100]
sunglass['Product Description']=product_description[:100]
sunglass['Price']=price[:100]
sunglass['Discount']=discount[:100]
sunglass

,Brand,Product Description,Price,Discount
0,phenomenal,UV Protection Clubmaster Sunglasses (Free Size),₹299,85% off
1,BKGE,"UV Protection, Polarized Rectangular, Retro Sq...",₹394,78% off
2,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
3,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹499,75% off
4,Aislin,"UV Protection, Gradient Round, Cat-eye Sunglas...",₹500,70% off
...,...,...,...,...
95,Aislin,"UV Protection, Gradient Oval Sunglasses (58)",₹211,65% off
96,DEIXELS,UV Protection Oval Sunglasses (Free Size),₹210,80% off
97,Aislin,"UV Protection, Gradient Round Sunglasses (58)",₹474,69% off
98,hipe,"UV Protection, Mirrored Round Sunglasses (Free...",₹499,86% off
99,PIRASO,UV Protection Butterfly Sunglasses (60),₹209,86% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

You have to scrape the tick marked attributes. These are

Rating
Review_summary
Full review
You have to scrape the data for first 100 reviews.

In [365]:
import pandas as pd
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [366]:
driver=webdriver.Chrome("chromedriver.exe")

In [367]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.')

In [368]:
rating=[]
review_summary=[]
full_review=[]

In [369]:
all_review=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_review.click()

In [373]:
start=0
end=9
for page in range(start,end):
    rate=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rate[:100]:
        rating.append(i.text)
    rev_sum=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for j in rev_sum[:100]:
        review_summary.append(j.text)
    ful_rev=driver.find_elements_by_xpath("//div[@class='row']")
    for k in ful_rev:
        full_review.append(k.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='ge-49M']")
    driver.get(nxt_button[page].get_attribute('href'))

In [374]:
iphone=pd.DataFrame({})
iphone['Rating']=rating[:99]
iphone['Review Summary']=review_summary[:99]
iphone['Review']=full_review[:99]
iphone

,Rating,Review Summary,Review
0,5,Brilliant,"4.6★\n44,311 Ratings &\n3,403 Reviews\n5★\n4★\..."
1,5,Perfect product!,4.6★
2,5,Worth every penny,4.6★
3,,,4.6★
4,,,5\nBrilliant
...,...,...,...
94,5,Awesome,"Ananya Dhiman\nCertified Buyer, Zirakpur\n9 mo..."
95,5,Wonderful,11051
96,5,Super!,5\nSimply awesome
97,5,Must buy!,Really good actually this is my first apple pr...
98,5,Mind-blowing purchase,Likhitha Heman\nCertified Buyer\n8 months ago

# Q8:Scrape data for first 100 sneakers you find when you visit flipkart.comand search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker :¶

1.Brand
2.Product Description
3.Price
4.discount % Also note that all the steps required during scraping should be done through code only and not manually.

In [423]:
import pandas as pd
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [424]:
driver=webdriver.Chrome("chromedriver.exe")

In [412]:
driver.get('https://www.flipkart.com/')

In [413]:
search=driver.find_element_by_class_name("_3704LK")

In [414]:
search.send_keys('sneakers')

In [417]:
button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [418]:
brand=[]
product_description=[]
price=[]
discount=[]

In [421]:
start=0
end=2
for page in range(start,end):
    pro_brd=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in pro_brd:
        brand.append(i.text)
    pro_des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in pro_des:
        product_description.append(j.text)
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for k in prices:
        price.append(k.text)
    disc=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for l in disc:
        discount.append(l.text)
    nxt_button=driver.find_elements_by_xpath("//a[@class='ge-49M']")
    driver.get(nxt_button[page].get_attribute('href'))

In [422]:
sneaker=pd.DataFrame({})
sneaker['Brand']=brand[:100]
sneaker['Product Description']=product_description[:100]
sneaker['Price']=price[:100]
sneaker['Discount']=discount[:100]
sneaker

,Brand,Product Description,Price,Discount
0,French Connection,Sneakers For Men,₹680,65% off
1,DUCATI,Sneakers For Men,"₹1,296",63% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Extoes,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹795,46% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
...,...,...,...,...
95,Numenzo,516 Trendy Star Perfect Sneakers For Men,₹398,54% off
96,aadi,170 Smart Grey Lace-Ups Casuals for Men Sneake...,₹298,68% off
97,Bonexy,Multicolor Casual Shoes Mesh for Men Sneakers ...,₹450,57% off
98,Stefano Rads,Sneakers For Men,₹217,67% off
99,believe,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹423,68% off

# Q9."https://www.myntra.com/shoes". Set price filter "Rs 6649 to Rs 13099" and color filter to "Black" and then scrap 100 shoes data. The data should include "Brand" of shoes, shoe short-description and price. Please not: Everything should done through code even the filtering for sneakers as well.

In [554]:
import pandas as pd
import time
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [555]:
driver=webdriver.Chrome("chromedriver.exe")

In [556]:
driver.get('https://www.myntra.com/shoes%22?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0%2C6612.0_13075.0_6612.0%20TO%2013075.0')

In [557]:

start_page=0
end_page=0
for page in range(start_page,end_page+1): 
    
    
    
    shoe_names=[]
    s_desc=[]
    short_desc=[]
    price=[]
    
   
    Names=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in Names[:100]:
        shoe_names.append(i.text)
    
    
    desc=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    for i in desc[:100]:
        s_desc.append(i.text)
    
    for j in range(0,len(s_desc),2):
        short_desc.append(s_desc[j])
    
    
    desc=driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in desc[:100]:
        price.append(i.text)
    
    nxt_button=driver.find_elements_by_xpath("//li[@class='pagination-number']/a")
    driver.get(nxt_button[page].get_attribute('href'))
    
            
    
    df=pd.DataFrame({'Brand': shoe_names[0:100],
                    'Short-description': short_desc[0:100],
                    'Price': price[0:100]})
df[0:100]

,Brand,Short-description,Price
0,ALDO,Men Leather Loafers,Rs. 7799Rs. 12999(40% OFF)
1,Nike,Men AIR ZOOM Running Shoes,Rs. 10121Rs. 13495(25% OFF)
2,Nike,Women Running Shoes,Rs. 7197Rs. 11995( 40 % OFF)
3,Nike,Women AIR ZOOM Running,Rs. 10121Rs. 13495(25% OFF)
4,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
5,Nike,Women AIR ZOOM Running Shoes,Rs. 6996Rs. 9995(30% OFF)
6,Nike,Men REACT MILER Running Shoes,Rs. 8246Rs. 10995(25% OFF)
7,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999
8,Nike,Women ZOOM SPAN 3 Running,Rs. 7195
9,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
10,Nike,Men JORDAN DELTA Basketball,Rs. 12495
11,Nike,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995(30% OFF)
12,Nike,Women REACT Running Shoes,Rs. 8396Rs. 11995(30% OFF)
13,Nike,Men React Infinity Running,Rs. 10846Rs. 15495(30% OFF)
14,Nike,Women AIR ZOOM Running Shoes,Rs. 7721Rs. 10295(25% OFF)
15,Bugatti,Men Textured Leather Formal Loafers,Rs. 7999
16,Skechers,Men VIPER COMPETITOR Training,Rs. 6999
17,Nike,Women REACT ESCAPE Running,Rs. 8295
18,Puma,Men Mesh Fuse Training Or Gym Shoes,Rs. 7999
19,UNDER ARMOUR,Men HOVR STRT Sportstyle Shoes,Rs. 9999
20,UNDER ARMOUR,Men Charged Impulse Knit,Rs. 8999
21,Puma,Men Velocity Nitro Running,Rs. 10999
22,UNDER ARMOUR,HOVR Guardian 2 Sports Shoes,Rs. 9599Rs. 11999(20% OFF)
23,Bugatti,Men Perforated Mule Sneakers,Rs. 6999
24,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 10999
25,UNDER ARMOUR,Women Liquify Rebel Running,Rs. 7199Rs. 8999(20% OFF)
26,Nike,Men JORDAN DELTA Sneakers,Rs. 10995
27,Hush Puppies,Men Formal Derbys,Rs. 9999
28,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8999
29,Bugatti,Men Solid Leather Formal Derbys,Rs. 9999
30,UNDER ARMOUR,HOVR Sonic 3 Running Shoes,Rs. 8799Rs. 10999(20% OFF)
31,UNDER ARMOUR,Men Liquify Running Shoes,Rs. 10999
32,UNDER ARMOUR,Women HOVR Rise 2 Training,Rs. 7999Rs. 9999(20% OFF)
33,Puma,Men Running Shoes,Rs. 7499
34,UNDER ARMOUR,Charged Impulse Running Shoes,Rs. 7999
35,Puma,Men Running Shoes,Rs. 6999
36,Puma,Men Liberate Nitro Running,Rs. 9999
37,Puma,Men LQDCELL Training Shoes,Rs. 6999
38,Bugatti,Women Black Sneakers,Rs. 7999
39,Hush Puppies,Men Colourblocked Driving Shoes,Rs. 8999
40,Skechers,Women UNO Sneakers,Rs. 7999
41,PUMA Motorsport,Unisex Woven-Design Sneakers,Rs. 7999
42,Skechers,Women D'LITES 3.0 Sneakers,Rs. 6999
43,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
44,Bugatti,Women Solid Block Heels,Rs. 8499
45,Geox,Women Leather Block Heels,Rs. 7492Rs. 9990(25% OFF)
46,Nike,Women AIR MAX VIVA Sneakers,Rs. 12495
47,Florsheim,Men Solid Leather Formal Derbys,Rs. 6995
48,Cole Haan,Women Sandals,Rs. 7499Rs. 14999(50% OFF)
49,Puma,SPEED Orbiter Running Shoes,Rs. 7149Rs. 12999(45% OFF)

# Q10: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”. After setting the filters scrape first 10 laptops data.You have to scrape 3 attributes for each laptop:¶

title
Ratings
Price

In [559]:
import pandas as pd
import selenium 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [560]:
driver=webdriver.Chrome("chromedriver.exe")

In [561]:
driver.get(' https://www.amazon.in')

In [562]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")  
search_bar.clear()                                              
search_bar.send_keys("laptops")

In [563]:
search_button =driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')      
search_button.click()

In [567]:
Title=[]
Ratings=[]
price=[]

In [564]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [565]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [568]:
titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in titles:
    Title.append(i.text)

In [569]:
prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in prices:
    price.append(i.text)

In [570]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:                  
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()                                                      
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
        
    except NoSuchElementException   as e:
        Ratings.append("NO rating")

In [571]:
df=pd.DataFrame({'Title':Title[0:10],
                'Price':price[0:10],
                'Ratings':Ratings[0:10]})
df[0:10]

                                               Title   Price       Ratings
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...  86,790  4.2 out of 5
1  LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...  40,990  3.5 out of 5
2  Lenovo Legion 5 10th Gen Intel Core i7 15.6 in...  77,990  4.3 out of 5
3  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...  88,990  4.3 out of 5
4  Dell Latitude 3410 14 Inch HD Intel Core i7 10...  44,999     NO rating
5  (Renewed) Dell Latitude E6440 14 Inch Laptop (...  68,490  3.6 out of 5
6  (Renewed) HP Pavilion 15-Cs1002txin 2018 15.6-...  77,990     NO rating
7  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...  82,490  4.4 out of 5
8  Dell G3 3500 Gaming 15.6inch 120hz FHD Display...  47,190    4 out of 5
9  (Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...  58,999    1 out of 5