# 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [2]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [3]:
header_names=[]

In [4]:
def Header(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    header=soup.find_all('span',class_='mw-headline')
    for i in header:
        header_names.append(i.get_text().replace('\n',''))

In [5]:
Header('https://en.wikipedia.org/wiki/Main_Page')

In [6]:
Header=pd.DataFrame({})
Header['header_names']=header_names[0:8]

In [7]:
Header

                    header_names
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [8]:
Name=[]
IMDB_rating=[]
Year_of_release=[]

In [9]:
def Top_100_Movies(url):
    response=requests.get(url)
    soup=BeautifulSoup(response.content,'html.parser')
    movie_name=soup.select('td.titleColumn a')
    for i in movie_name:
        Name.append(i.get_text())
    movie_year=soup.find_all('span',class_='secondaryInfo')
    for i in movie_year:
        Year_of_release.append(i.get_text().replace('\n','').replace('(','').replace(')',''))
    rating=soup.find_all('td',class_='ratingColumn imdbRating')
    for i in rating:
        IMDB_rating.append(i.get_text().replace('\n',''))

In [10]:
Top_100_Movies('https://www.imdb.com/chart/top/?sort=ir,desc&mode=simple&page=1')

In [11]:
Year_of_release

['1994',
 '1972',
 '1974',
 '2008',
 '1957',
 '1993',
 '2003',
 '1994',
 '1966',
 '2001',
 '1999',
 '1994',
 '2010',
 '2002',
 '1980',
 '1999',
 '1990',
 '1975',
 '1954',
 '1995',
 '1997',
 '2002',
 '1991',
 '1946',
 '1977',
 '1998',
 '1999',
 '2001',
 '2014',
 '2019',
 '1994',
 '1962',
 '1995',
 '1994',
 '2002',
 '1991',
 '1985',
 '1998',
 '1936',
 '2000',
 '1960',
 '2006',
 '1931',
 '2011',
 '2014',
 '1988',
 '2006',
 '1968',
 '1942',
 '1988',
 '1954',
 '1979',
 '1979',
 '2000',
 '1940',
 '1981',
 '2012',
 '2006',
 '2020',
 '1957',
 '2019',
 '2008',
 '1980',
 '2018',
 '1950',
 '1957',
 '2003',
 '2018',
 '1997',
 '1964',
 '2012',
 '1984',
 '2016',
 '1986',
 '2017',
 '2019',
 '2018',
 '1999',
 '1995',
 '1963',
 '1981',
 '1995',
 '2009',
 '1984',
 '2009',
 '1997',
 '1983',
 '2007',
 '1992',
 '1968',
 '2000',
 '2012',
 '1958',
 '1931',
 '2004',
 '1941',
 '2016',
 '1952',
 '1921',
 '1948',
 '1987',
 '1985',
 '2000',
 '1952',
 '1959',
 '1971',
 '1983',
 '2019',
 '1976',
 '2010',
 '2011',
 '2010',
 '1962',
 '1973',
 '2001',
 '1927',
 '1960',
 '1965',
 '1944',
 '1962',
 '2009',
 '1989',
 '1995',
 '1997',
 '2018',
 '1988',
 '2005',
 '1975',
 '1961',
 '1950',
 '2004',
 '1997',
 '1985',
 '1992',
 '1959',
 '2004',
 '2021',
 '1950',
 '1995',
 '2001',
 '2013',
 '1963',
 '2006',
 '2007',
 '2009',
 '1998',
 '1961',
 '1980',
 '1988',
 '1948',
 '1954',
 '2010',
 '2017',
 '1974',
 '1925',
 '2005',
 '2007',
 '2005',
 '2015',
 '1982',
 '1980',
 '1957',
 '2011',
 '1999',
 '2019',
 '1993',
 '1996',
 '1998',
 '1939',
 '2003',
 '1979',
 '1957',
 '2003',
 '2003',
 '1982',
 '1957',
 '1996',
 '2014',
 '2015',
 '1953',
 '1949',
 '2008',
 '1954',
 '1978',
 '1993',
 '2009',
 '1995',
 '2014',
 '2002',
 '2014',
 '2016',
 '2013',
 '1966',
 '2018',
 '1924',
 '1998',
 '1975',
 '1926',
 '1942',
 '2010',
 '2019',
 '2013',
 '1996',
 '1978',
 '1939',
 '1971',
 '2015',
 '1989',
 '2004',
 '2011',
 '1986',
 '1976',
 '1959',
 '2009',
 '2016',
 '1967',
 '2017',
 '1986',
 '2007',
 '1953',
 '2013',
 '2018',
 '1995',
 '1979',
 '1959',
 '1928',
 '2015',
 '2004',
 '2020',
 '2012',
 '2000',
 '1966',
 '2001',
 '1976',
 '1984',
 '1940',
 '1988',
 '2004',
 '2000',
 '2006',
 '1955',
 '1984',
 '2013',
 '2019',
 '1934',
 '1997',
 '2016',
 '2015',
 '2013',
 '2016']

In [12]:
Top_100_Movies=pd.DataFrame({})
Top_100_Movies['Name']=Name[0:100]
Top_100_Movies['IMDB_rating']=IMDB_rating[0:100]
Top_100_Movies['Year_of_release']=Year_of_release[0:100]

Top_100_Movies

                        Name IMDB_rating Year_of_release
0   The Shawshank Redemption         9.2            1994
1              The Godfather         9.1            1972
2     The Godfather: Part II         9.0            1974
3            The Dark Knight         9.0            2008
4               12 Angry Men         8.9            1957
..                       ...         ...             ...
95              Citizen Kane         8.3            1941
96                    Dangal         8.3            2016
97       Singin' in the Rain         8.2            1952
98                   The Kid         8.2            1921
99       Ladri di biciclette         8.2            1948

[100 rows x 3 columns]

In [13]:
Top_100_Movies.to_csv('IMDB_Top_100_Movies_List.csv')

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [14]:
Name=[]
IMDB_rating=[]
Year_of_release=[]

In [15]:
def Top_100_Indian_Movies(url):
    response=requests.get(url)
    soup=BeautifulSoup(response.content,'html.parser')
    movie_name=soup.select('td.titleColumn a')
    for i in movie_name:
        Name.append(i.get_text())
    movie_year=soup.find_all('span',class_='secondaryInfo')
    for i in movie_year:
        Year_of_release.append(i.get_text().replace('\n','').replace('(','').replace(')',''))
    rating=soup.find_all('td',class_='ratingColumn imdbRating')
    for i in rating:
        IMDB_rating.append(i.get_text().replace('\n',''))

In [16]:
Top_100_Indian_Movies('https://www.imdb.com/india/top-rated-indian-movies/')

In [17]:
Top_100_Indian_Movies=pd.DataFrame({})
Top_100_Indian_Movies['Name']=Name[0:100]
Top_100_Indian_Movies['IMDB_rating']=IMDB_rating[0:100]
Top_100_Indian_Movies['Year_of_release']=Year_of_release[0:100]

Top_100_Indian_Movies

                          Name IMDB_rating Year_of_release
0              Pather Panchali         8.5            1955
1                     Gol Maal         8.5            1979
2                      Nayakan         8.5            1987
3                   Anbe Sivam         8.5            2003
4                  Apur Sansar         8.5            1959
..                         ...         ...             ...
95                      Barfi!         8.0            2012
96  The Legend of Bhagat Singh         8.0            2002
97                  Bommarillu         8.0            2006
98                      Bombay         8.0            1995
99                     Maqbool         8.0            2003

[100 rows x 3 columns]

In [18]:
Top_100_Indian_Movies.to_csv('IMDB_Top_100_Indian_Movies_List.csv')

# 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [19]:
Name=[]
Author=[]
Genre=[]
Review=[]

In [20]:
def Books(url):
    response=requests.get(url)
    soup=BeautifulSoup(response.content,'html.parser')
    book_name=soup.find_all('h4',class_='italic')
    for i in book_name:
        Name.append(i.get_text().replace('\n','').replace('★','').strip())
    author_name=soup.find_all('p',class_='sans bold')
    for i in author_name:
        Author.append(i.get_text().replace('\n',''))
    genre_name=soup.find_all('p',class_='genre-links hidden-phone')
    for i in genre_name:
        Genre.append(i.get_text().replace('\n',''))
    reviews=soup.find_all('p','excerpt')
    for i in reviews:
        Review.append(i.get_text().replace('\n',''))

In [21]:
Books('https://bookpage.com/reviews?book_genre=nonfiction&page=1')

In [22]:
Books=pd.DataFrame({})

Books['Name']=Name[0:5]
Books['Author']=Author[0:5]
Books['Genre']=Genre[0:5]
Books['Review']=Review[0:5]
Books

,Name,Author,Genre,Review
0,Until Justice Be Done,Kate Masur,Nonfiction / History / American History,Masur’s scholarly but accessible history demon...
1,Confident Women,Tori Telfer,Nonfiction / True Crime / Women's History,"With Tori Telfer at the wheel, reading these t..."
2,New Yorkers,Craig Taylor,Nonfiction / Culture / History,"In January 2014, Canadian writer Craig Taylor ..."
3,Just as I Am,"Cicely Tyson, Robin Miles",Audio / Nonfiction / Biography & Memoir,Narrator Robin Miles bringing the same warmth ...
4,Flight of the Diamond Smugglers,Matthew Gavin Frank,Nonfiction / Memoir / Animals,Matthew Gavin Frank's Flight of the Diamond Sm...

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [23]:
def Top_10_ODI_Mens_Team(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    Teams=[]
    teams=soup.find_all('span','u-hide-phablet')
    for i in teams:
        Teams.append(i.get_text().replace('\n',''))
    Matches=[]
    match0=soup.find('td',class_='rankings-block__banner--matches')
    Matches.append(match0.get_text())
    match=soup.find_all('td',class_='table-body__cell u-center-text')
    for i in match:
        Matches.append(i.get_text().replace('\n',''))
    Points=[]
    point0=soup.find('td',class_='rankings-block__banner--points')
    Points.append(point0.get_text())
    point=soup.find_all('td',class_='table-body__cell u-center-text')
    for i in point:
        Points.append(i.get_text().replace('\n',''))
    Ratings=[]
    rating0=soup.find('td',class_='rankings-block__banner--rating u-text-right')
    Ratings.append(rating0.get_text().replace('\n','').strip())
    rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in rating:
        Ratings.append(i.get_text().replace('\n',''))
    return Teams, Matches, Points, Ratings

Teams, Matches, Points, Rating = Top_10_ODI_Mens_Team("https://www.icc-cricket.com/rankings/mens/team-rankings/odi?fbclid=IwAR3CaDhnGrrfRNKT4juj6ptjwFGrqsGt866xQ0U3xgHKm1d2zA2Bm4shO70")

In [24]:
Top_10_ODI_Mens_Team=pd.DataFrame({})

Top_10_ODI_Mens_Team['Teams']=Teams[0:10]
Top_10_ODI_Mens_Team['Matches']=Matches[0:10]
Top_10_ODI_Mens_Team['Points']=Points[0:10]
Top_10_ODI_Mens_Team['Rating']=Rating[0:10]

Top_10_ODI_Mens_Team

          Teams Matches Points Rating
0       England      45  5,472    122
1         India      53     53    118
2   New Zealand   6,275  6,275    118
3     Australia      34     34    111
4  South Africa   3,997  3,997    108
5      Pakistan      39     39    100
6    Bangladesh   4,344  4,344     90
7     Sri Lanka      31     31     80
8   West Indies   3,345  3,345     78
9   Afghanistan      35     35     59

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [19]:
def Top_10_ODI_womens_player(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    Players=[]
    player0=soup.find("div",class_="rankings-block__banner--name-large")
    Players.append(player0.get_text())
    players=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in players:
        Players.append(i.get_text().replace('\n',''))
    Teams=[]
    teams0=soup.find('div',class_='rankings-block__banner--nationality')
    Teams.append(teams0.get_text().replace('\n','').strip())
    teams=soup.find_all('span',class_='table-body__logo-text')
    for i in teams:
        Teams.append(i.get_text())
    Ratings=[]
    rating0=soup.find('td',class_='u-text-left')
    Ratings.append(rating0.get_text().replace('\n','').strip())
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        Ratings.append(i.get_text())
    return Players,Teams,Ratings

In [20]:
Players,Teams,Ratings= Top_10_ODI_womens_player('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [21]:
Top_10_ODI_womens_player=pd.DataFrame({})

Top_10_ODI_womens_player['Players']=Players[0:10]
Top_10_ODI_womens_player['Teams']=Teams[0:10]
Top_10_ODI_womens_player['Ratings']=Ratings[0:10]
Top_10_ODI_womens_player

             Players Teams Ratings
0     Tammy Beaumont   ENG     765
1        Lizelle Lee    SA     758
2        Meg Lanning   AUS     749
3    Stafanie Taylor    WI     746
4       Alyssa Healy   AUS     741
5  Amy Satterthwaite    NZ     740
6    Smriti Mandhana   IND     710
7        Mithali Raj   IND     709
8       Ellyse Perry   AUS     691
9     Natalie Sciver   ENG     685

# 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [ ]:
???

# 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description

In [28]:
Period=[]
Short_description=[]
Temperature=[]
Description=[]

def USA_extended_forecast(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    period=soup.find_all('p',class_='period-name')
    for i in period:
        Period.append(i.get_text().replace('\n',''))
    short_description=soup.find_all('p',class_='short-desc')
    for i in short_description:
        Short_description.append(i.get_text().replace('\n','').strip())
    temperature=soup.find_all("p",{"class": ["temp temp-high", "temp temp-low"]})
    for i in temperature:
        Temperature.append(i.get_text().replace('\n',''))
    description=soup.find_all('div',class_='col-sm-10 forecast-text')
    for i in description:
        Description.append(i.get_text().replace('\n',''))
        
USA_extended_forecast('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YB2IuegzZPY')

In [32]:
USA_extended_forecast=pd.DataFrame({})

USA_extended_forecast['Period']=Period[0:9]
USA_extended_forecast['Short_description']=Short_description[0:9]
USA_extended_forecast['Temperature']=Temperature[0:9]
USA_extended_forecast['Description']=Description[0:9]

USA_extended_forecast

,Period,Short_description,Temperature,Description
0,Today,Sunny,High: 72 °F,"Sunny, with a high near 72. North wind 7 to 10..."
1,Tonight,Mostly Clear,Low: 47 °F,"Mostly clear, with a low around 47. West north..."
2,Saturday,Sunny,High: 74 °F,"Sunny, with a high near 74. Calm wind becoming..."
3,SaturdayNight,Mostly Clear,Low: 48 °F,"Mostly clear, with a low around 48. West wind ..."
4,Sunday,Sunny,High: 71 °F,"Sunny, with a high near 71. Light west wind in..."
5,SundayNight,Mostly Clear,Low: 48 °F,"Mostly clear, with a low around 48."
6,Monday,Sunny,High: 65 °F,"Sunny, with a high near 65."
7,MondayNight,Clear,Low: 48 °F,"Clear, with a low around 48."
8,Tuesday,Sunny,High: 71 °F,"Sunny, with a high near 71."

In [ ]:
USA_extended_forecast['Period']=Period[0:13]
USA_extended_forecast['Short_description']=Short_description[0:13]
USA_extended_forecast